[Unit]
Description=Start remap

[Service]
Type=exec
TimeoutStartSec=30
WorkingDirectory=%h
StandardOutput=journal
ExecStart=xremap-gnome --watch=device,config %h/.config/xremap/xremap.yml
Restart=always

[Install]
WantedBy=default.target
