README.md

{{ if ne .chezmoi.os "linux" }}
dot_config/xremap/
dot_config/systemd/
dot_local/bin/executable_sync-gtk-theme-to-gnome
dot_local/share/applications/emacs-client.desktop.tmpl
{{ end }}

{{ if ne .chezmoi.os "darwin" }}
dot_config/karabiner/
Library/
Applications/
{{ end }}
