README.md

{{ if ne .chezmoi.os "linux" }}
dot_config/xremap/
dot_config/systemd/user/emacs.service
dot_config/systemd/user/xremap.service.tmpl
dot_config/systemd/user/sync-gtk-theme-to-gnome.service
dot_local/bin/executable_sync-gtk-theme-to-gnome
dot_local/share/applications/emacs-client.desktop.tmpl
dot_local/share/applications/emacs-server.desktop.tmpl
{{ end }}
